CompileFlags:
  Add: [
    -xc,
    -std=iso9899:1999,
    -Wall,
    -Wextra,
    -Wpedantic,
    -Wduplicated-branches,
    -Wduplicated-cond,
    -Wcast-qual,
    -Wconversion,
    -Wsign-conversion,
    -Wlogical-op,
  ]
